<div class="page-exterior" ng-controller="exteriorController" ng-init="exteriorInit()">
    <div class="page-content">
        <img src="assets/imgs/exterior/open-scene/model.png" alt="" class="model check-scale">
        <img src="assets/imgs/exterior/open-scene/car.png" alt="" class="car check-scale">
        <canvas id="light-mirror-exterior" width=926 height=734 style="position:absolute;"></canvas>
        <img src="assets/imgs/exterior/open-scene/all-eyes-on-me.png" alt="" class="text check-scale">
        <div class="foot-nav">
            <img src="assets/imgs/exterior/navigate/experior.png" alt="" class="lbl-exterior check-scale">
            <ul>
                <li>
                    <a class="foot-nav-thumb-1" ng-click="thumbClick(0)">
                        <img src="assets/imgs/exterior/navigate/thumb-01.png?123" alt="" class="check-scale">
                    </a>
                </li>
                <li>
                    <a class="foot-nav-thumb-2" ng-click="thumbClick(1)">
                        <img src="assets/imgs/exterior/navigate/thumb-02.png?321" alt="" class="check-scale">
                    </a>
                </li>
                <li>
                    <a class="foot-nav-thumb-2" ng-click="thumbClick(2)">
                        <img src="assets/imgs/exterior/navigate/thumb-03.png?321" alt="" class="check-scale">
                    </a>
                </li>
                <li>
                    <a class="foot-nav-thumb-2" ng-click="thumbClick(3)">
                        <img src="assets/imgs/exterior/navigate/thumb-04.png?321" alt="" class="check-scale">
                    </a>
                </li>
            </ul>
        </div>

        <div class="popup-group">
            <div class="popup">
                <img src="assets/imgs/exterior/popup-1/car-1.png" alt="" class="popup-car check-scale">
                <img src="assets/imgs/exterior/popup-1/text-1.png" alt="" class="popup-text check-scale">
            </div>
            <div class="popup">
                <img src="assets/imgs/exterior/popup-2/car-2.png" alt="" class="popup-car check-scale">
                <img src="assets/imgs/exterior/popup-2/text-2.png" alt="" class="popup-text check-scale">
            </div>
            <div class="popup">
                <img src="assets/imgs/exterior/popup-3/car-3.png" alt="" class="popup-car check-scale">
                <img src="assets/imgs/exterior/popup-3/text-3.png" alt="" class="popup-text check-scale">
            </div>
            <div class="popup">
                <img src="assets/imgs/exterior/popup-4/car-4.png" alt="" class="popup-car check-scale">
                <img src="assets/imgs/exterior/popup-4/text-4.png" alt="" class="popup-text check-scale">
            </div>
            <a ng-click="removePopup()" class="btnRemovePopup"><img src="assets/imgs/interior/btn-close-popup.png" alt=""></a>
        </div>
    </div>
</div>