<div class="page-home" ng-controller="homeController" ng-init="homeInit()">
    <div class="page-content">
	    <img src="assets/imgs/home/new-yaris-trd-sport.png" alt="" class="new-yaris check-scale">
	    <img src="assets/imgs/home/car-01.png" alt="" class="car check-scale">
	    <canvas id="light-mirror" width=908 height=429 style="position:absolute;"></canvas>
	    <img src="assets/imgs/home/model.png" alt="" class="model check-scale">
	    <img src="assets/imgs/home/prop-02.png" alt="" class="prop check-scale">
        <img src="assets/imgs/home/the-one-that-right.png" class="one-that-right check-scale" alt="">
        <iframe width="560" height="315" class="youtube" src="https://www.youtube.com/embed/EbAg2T6Mozo?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
    </div>
</div>