<div class="page-interior" ng-controller="interiorController" ng-init="interiorInit()">
    <div class="page-content">
        <img src="assets/imgs/interior/open-scene/text.png" alt="" class="text check-scale absolute">
        <div class="foot-nav">
            <img src="assets/imgs/interior/navigate/interior.png" alt="" class="lbl-interior check-scale">
            <ul>
                <li>
                    <a class="foot-nav-thumb-1" ng-click="thumbClick(0)">
                        <img src="assets/imgs/interior/navigate/thumb-01.png" alt="" class="check-scale">
                    </a>
                </li>
                <li>
                    <a class="foot-nav-thumb-2" ng-click="thumbClick(1)">
                        <img src="assets/imgs/interior/navigate/thumb-02.png?123" alt="" class="check-scale">
                    </a>
                </li>
                <li>
                    <a class="foot-nav-thumb-3" ng-click="thumbClick(2)">
                        <img src="assets/imgs/interior/navigate/thumb-03.png?321" alt="" class="check-scale">
                    </a>
                </li>
            </ul>
        </div>
        <div class="popup-group">
            <div class="popup">
                <img src="assets/imgs/interior/popup-1/car-1.png" alt="" class="popup-car check-scale">
                <img src="assets/imgs/interior/popup-1/text-1.png" alt="" class="popup-text check-scale">
            </div>
            <div class="popup">
                <img src="assets/imgs/interior/popup-2/car-2.png" alt="" class="popup-car check-scale">
                <img src="assets/imgs/interior/popup-2/text-2.png" alt="" class="popup-text check-scale">
            </div>
            <div class="popup">
                <img src="assets/imgs/interior/popup-3/car-3.png" alt="" class="popup-car check-scale">
                <img src="assets/imgs/interior/popup-3/text-3.png" alt="" class="popup-text check-scale">
            </div>
            <a ng-click="removePopup()" class="btnRemovePopup"><img src="assets/imgs/interior/btn-close-popup.png" alt=""></a>
        </div>
    </div>
</div>