header{
    position: absolute;
    left: 0;
    z-index: 1000;
    nav{
        position: absolute;
        margin: auto;
        width:1404px;
        height: 138px;
        background: url('../imgs/navigate/bg.png') no-repeat;
        .activeNav{
            display:block;
            position:absolute;
            width:228px;
            height:106px;
            background: url('../imgs/navigate/active.png') no-repeat;
            left:38.2%;
            z-index:1001;
        }
        ul{
            list-style: none;
            margin:0 60px;
            position:relative;
            z-index:1002;
            &:after{
                content: ' ';
                display:block;
                clear:both;
            }
            li{
                float: left;
                a{
                    padding: 0;
                    display: block;
                    overflow: hidden;
                    &.nav-home, &.nav-exterior, &.nav-interior, &.nav-specification{
                        background-image: url(../imgs/navigate/nav.png);
                        background-repeat: no-repeat;
                        &:hover, &.active{
                            background-position-y:-108px;
                        }
                    }
                    &.nav-home{
                        background-position: 0 0 ;
                        width:178px;
                        height: 106px;
                    }
                    &.nav-exterior{
                        background-position: -178px 0 ;
                        width:187px;
                        height: 106px;
                    }
                    &.nav-interior{
                        background-position: -365px 0;
                        width:186px;
                        height: 106px;
                    }
                    &.nav-specification{
                        background-position: -551px 0;
                        width:210px;
                        height: 106px;
                    }
                }
            }
        }
    }
}