html, body {
    height: 100%;
    background: #000000;
    /*
    @media only screen 
        and (orientation: portrait){
            max-height: 800px;
        }
        */
    margin: 0;
    padding: 0;
    overflow:hidden;
    position: relative;
}

.check-scale{
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}
.main{

}
a{
    text-decoration: none;
}
.link{
    cursor:pointer;
}
.view{
    position: absolute;
    z-index: 1;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    /*
    min-width:1200px;
    min-height:600px;
    */
    overflow: hidden;
}
.view-animate.ng-enter, .view-animate.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s;

    display:block;
    width:100%;

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.view-animate.ng-enter {
    top:100%;
}
.view-animate.ng-enter.ng-enter-active {
    top:0;
}
.view-animate.ng-leave.ng-leave-active {
    top:-100%;
}
.page-content{
    opacity:0;
}
/*
.page-content{
    position: relative;
    margin: auto;
    width: 1200px;
    height: 100%;
}
*/