.page-exterior{
    background-image: url('../imgs/exterior/open-scene/bg.jpg');
    //height: 100%;
    background-position: center center;
    background-size: cover;
    position: relative;
    .model{
        position: absolute;
        bottom:0;
    }
    .text{
        position: absolute;
    }
    .car{
        position: absolute;
    }
    .foot-nav{
        background-image: url(../imgs/exterior/navigate/nav-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        position: absolute;
        bottom:0;
        z-index: 100;
        .lbl-exterior{
            position: absolute;
            right: 70%;
        }
        ul{    
            padding-left: 40px;
            margin-left: 30%;
            list-style: none;
            &:after{
                content: ' ';
                display:block;
                clear:both;
            }
            li{
                margin-left: -40px;
                float: left;
                a{
                    display: block;
                    cursor: pointer;
                    background: url('../imgs/exterior/navigate/shadow.png') center center no-repeat;
                    background-size: 10%;
                    -webkit-transition:all ease-out 0.1s;
                    transition:all ease-out 0.1s;
                    &:hover, &.active{
                        background-size:100%;
                    }
                    &.active{
                        margin-right:-3px;
                        margin-top:-5px;
                        padding-left:3px;
                        padding-bottom:5px;
                    }
                }
            }
        }
    }
    .popup-group{
        position: absolute;
        width:100%;
        height: 100%;
        background-color: black;
        .btnRemovePopup{
            position: absolute;
            top:14%;
            right: 10%;
            cursor: pointer;
        }
        .popup{
            position: absolute;
            width:100%;
            height: 100%;
            background-color: black;
            .popup-text{
                position: absolute;
                left: 0;
                top:150px;
            }
            .popup-car{
                margin: auto;
                position: absolute;
                left: 0;
                right: 0;
            }
        }
    }
    /*
    .slider_exterior{
    z-index: 20;
    position: absolute;
    right: 75px;
    bottom:50px;
    width:711px;
    height:141px;
    background-image: url(../imgs/pages/exterior/bg_slider.png);
    @include rotate(-5);
    .owl-carousel{
    margin:0 15px;width:685px;
    .owl-stage-outer{
}
    .owl-item{
    img{
    @include rotate(4);
}
}

    .owl-controls{
    position: absolute;
    top: 0;
    width: 685px;

    .owl-prev{
    background-image: url(../imgs/pages/exterior/arr_left.png);
    width: 67px;
    height: 65px;position: absolute;
    top: 50px;
    left: -90px;

}
    .owl-next{
    background-image: url(../imgs/pages/exterior/arr_right.png);
    width: 67px;
    height: 65px;
    position: absolute;
    right: -90px;
    top: 30px;
}
}
}
}
    */
}