.page-home{
    background-image: url('../imgs/home/bg.jpg');
    //height: 100%;
    background-position: center center;
    background-size: cover;
    position: relative;
    .new-yaris{
        position: absolute;
    }
    .car{
        position: absolute;
    }
    .model{
        position: absolute;
    }
    .prop{
        position: absolute;
    }
    .one-that-right{
        position: absolute;
    }
    .youtube{
        position: absolute;
    }
}
    .absolute{
        position: absolute;
    }       