.page-interior{
    background-image: url('../imgs/interior/open-scene/bg.jpg');
    //height: 100%;
    background-position: center center;
    background-size: cover;
    position: relative;
    .model{
        position: absolute;
        bottom:0;
    }
    .text{
        position: absolute;
    }
    .car{
        position: absolute;
    }
    .foot-nav{
        background-image: url(../imgs/interior/navigate/nav-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        position: absolute;
        bottom:0;
        z-index: 100;
        .lbl-interior{
            position: absolute;
            right: 60%;
        }
        ul{    
            margin-left: 40%;
            padding-left: 40px;
            list-style: none;
            &:after{
                content: ' ';
                display:block;
                clear:both;
            }
            li{
                margin-left: -40px;
                float: left;
                a{
                    display: block;
                    cursor: pointer;
                    background: url('../imgs/exterior/navigate/shadow.png') center center no-repeat;
                    background-size: 10%;
                    -webkit-transition:all ease-out 0.1s;
                    transition:all ease-out 0.1s;
                    &:hover, &.active{
                        background-size:100%;
                    }
                    &.active{
                        margin-right:-3px;
                        margin-top:-5px;
                        padding-left:3px;
                        padding-bottom:5px;
                    }
                }
            }
        }
    }
    .popup-group{
        position: absolute;
        width:100%;
        height: 100%;
        background-color: black;
        .btnRemovePopup{
            cursor: pointer;
            position: absolute;
            top:14%;
            right: 10%;
        }
        .popup{
            .popup-text{
                position: absolute;
                left: 0;
                top:150px;
            }
            .popup-car{
                margin: auto;
                position: absolute;
                left: 0;
                right: 0;
            }
        }
    }
    /*
    height: 100%;
    background-image: url(../imgs/pages/interior/interior_bg.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    @media only screen 
    and (orientation: portrait){
    max-height: 800px;
}
    #content_bg{
    width:100%;
    height:100%;
    z-index:1;
    position:absolute;
    opacity:0;
}
    .black_bg{
    background-color: #000000;
}
    .grey_bg{
    background-color: #8b8c8e;
}
    #main-interior{
    top:75px;
    position:absolute;
    left:0;
    right:0;
    top:75px;
    bottom:155px;
    margin:auto;
}
    .interior_footer{
    width: 100%;
    height: 275px;
    position: absolute;
    background-image: url(../imgs/pages/interior/footer_bg.png);
    background-position: top center;
    bottom:0;
    z-index: 10;
}
    .car{
    position: absolute;
    bottom: 0;
    z-index: 20;
    bottom: -189px;
}
    .thatrightinterior{
    position: absolute;
    bottom: 10px;
    left: 150px;
    z-index: 20;
    opacity: 0;
}
    .textImg{
    z-index:7;
    position:absolute;
    right:0;
    top: 0;
    opacity:0;
}
    .inherit-img{
    margin:inherit!important;
}
    .carImg{
    z-index:6;
    position:absolute;
    top: 0;
    opacity:0;
    left: 0;
    right: 0;
    margin: auto;
}
    .slider_interior{
    z-index: 20;
    position: absolute;
    right: 75px;
    bottom:50px;
    width:558px;
    height:125px;
    background-image: url(../imgs/pages/interior/bg_slider.png);
    @include rotate(-2);
    .owl-carousel{
    margin:0 15px;
    width:528px;
    margin-top: 10px;
    .owl-stage-outer{
}
    .owl-item{
    img{
    @include rotate(5);
}
}

    .owl-controls{
    position: absolute;
    top: 0;
    width:528px;
    .owl-prev{
    background-image: url(../imgs/pages/exterior/arr_left.png);
    width: 67px;
    height: 65px;position: absolute;
    top: 20px;
    left: -90px;

}
    .owl-next{
    background-image: url(../imgs/pages/exterior/arr_right.png);
    width: 67px;
    height: 65px;
    position: absolute;
    right: -90px;
    top: 30px;
}
}
}
}
    .slider_interior_content{
    width: 100%;
    position: absolute;
}
    */
}